--
-- PostgreSQL database dump
--

\restrict ZGdUCIs0P6fhFXapiTUlGmcRfEijK7GRMXKwkIfy136biCehKaa1qXogcFb4giV

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ApplicationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ApplicationStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'APPROVED',
    'REJECTED',
    'DRAFT'
);


ALTER TYPE public."ApplicationStatus" OWNER TO postgres;

--
-- Name: ConversationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ConversationType" AS ENUM (
    'DONOR_STUDENT',
    'DONOR_ADMIN',
    'STUDENT_ADMIN'
);


ALTER TYPE public."ConversationType" OWNER TO postgres;

--
-- Name: Currency; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Currency" AS ENUM (
    'USD',
    'PKR',
    'EUR',
    'GBP',
    'CAD',
    'AUD'
);


ALTER TYPE public."Currency" OWNER TO postgres;

--
-- Name: DisbursementStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DisbursementStatus" AS ENUM (
    'INITIATED',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."DisbursementStatus" OWNER TO postgres;

--
-- Name: DocumentType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DocumentType" AS ENUM (
    'CNIC',
    'GUARDIAN_CNIC',
    'PHOTO',
    'SSC_RESULT',
    'HSSC_RESULT',
    'UNIVERSITY_CARD',
    'FEE_INVOICE',
    'INCOME_CERTIFICATE',
    'UTILITY_BILL',
    'TRANSCRIPT',
    'DEGREE_CERTIFICATE',
    'ENROLLMENT_CERTIFICATE',
    'OTHER'
);


ALTER TYPE public."DocumentType" OWNER TO postgres;

--
-- Name: ProgressReportStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ProgressReportStatus" AS ENUM (
    'SUBMITTED',
    'REVIEWED',
    'APPROVED',
    'NEEDS_REVISION'
);


ALTER TYPE public."ProgressReportStatus" OWNER TO postgres;

--
-- Name: StudentPhase; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StudentPhase" AS ENUM (
    'APPLICATION',
    'ACTIVE',
    'GRADUATED'
);


ALTER TYPE public."StudentPhase" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'STUDENT',
    'DONOR',
    'ADMIN',
    'SUB_ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    text text NOT NULL,
    "fromRole" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "studentId" text NOT NULL,
    "applicationId" text
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id text NOT NULL,
    "studentId" text NOT NULL,
    term text NOT NULL,
    status public."ApplicationStatus" DEFAULT 'PENDING'::public."ApplicationStatus" NOT NULL,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    "fxRate" double precision,
    currency public."Currency" NOT NULL,
    "amountOriginal" integer,
    "currencyOriginal" public."Currency",
    "amountBaseUSD" integer,
    "baseCurrency" public."Currency" DEFAULT 'USD'::public."Currency",
    "fxRateToUSD" double precision,
    "fxAsOf" timestamp(3) without time zone,
    "tuitionFee" integer,
    "hostelFee" integer,
    "otherExpenses" integer,
    "familyIncome" integer,
    "familyContribution" integer,
    purpose text,
    "approvalReason" text,
    "livingExpenses" integer,
    "scholarshipAmount" integer,
    "totalExpense" integer,
    "universityFee" integer,
    amount integer NOT NULL
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: conversation_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversation_messages (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "senderId" text NOT NULL,
    "senderRole" public."UserRole" NOT NULL,
    text text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readBy" text[]
);


ALTER TABLE public.conversation_messages OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id text NOT NULL,
    type public."ConversationType" NOT NULL,
    "participantIds" text[],
    "studentId" text,
    "applicationId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastMessageAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: disbursements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.disbursements (
    id text NOT NULL,
    "studentId" text NOT NULL,
    amount integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."DisbursementStatus" DEFAULT 'INITIATED'::public."DisbursementStatus" NOT NULL,
    notes text,
    "amountOriginal" integer,
    "currencyOriginal" public."Currency",
    "amountBaseUSD" integer,
    "baseCurrency" public."Currency" DEFAULT 'USD'::public."Currency",
    "fxRateToUSD" double precision,
    "fxAsOf" timestamp(3) without time zone
);


ALTER TABLE public.disbursements OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id text NOT NULL,
    "studentId" text NOT NULL,
    "applicationId" text,
    type public."DocumentType" NOT NULL,
    url text NOT NULL,
    "originalName" text,
    "mimeType" text,
    size integer,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: donors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.donors (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    organization text,
    "totalFunded" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    country text,
    address text,
    "currencyPreference" public."Currency",
    "taxId" text,
    phone text
);


ALTER TABLE public.donors OWNER TO postgres;

--
-- Name: field_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.field_reviews (
    id text NOT NULL,
    "applicationId" text NOT NULL,
    "studentId" text NOT NULL,
    "officerUserId" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    notes text,
    recommendation text,
    "homeVisitDate" timestamp(3) without time zone,
    "homeVisitNotes" text,
    "familyInterviewNotes" text,
    "financialVerificationNotes" text,
    "characterAssessment" text,
    "deservingnessFactor" integer,
    "documentsVerified" boolean DEFAULT false NOT NULL,
    "identityVerified" boolean DEFAULT false NOT NULL,
    "familyIncomeVerified" boolean DEFAULT false NOT NULL,
    "educationVerified" boolean DEFAULT false NOT NULL,
    "recommendationReason" text,
    "additionalDocumentsRequested" text[],
    "riskFactors" text[],
    "verificationScore" integer,
    "fielderRecommendation" text,
    "adminNotesRequired" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.field_reviews OWNER TO postgres;

--
-- Name: fx_rates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fx_rates (
    id text NOT NULL,
    base public."Currency" NOT NULL,
    quote public."Currency" NOT NULL,
    rate double precision NOT NULL,
    "asOf" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    source text
);


ALTER TABLE public.fx_rates OWNER TO postgres;

--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_resets (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL
);


ALTER TABLE public.password_resets OWNER TO postgres;

--
-- Name: progress_report_attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_report_attachments (
    id text NOT NULL,
    "progressReportId" text NOT NULL,
    filename text NOT NULL,
    filepath text NOT NULL,
    mimetype text NOT NULL,
    size integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.progress_report_attachments OWNER TO postgres;

--
-- Name: progress_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progress_reports (
    id text NOT NULL,
    "studentId" text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    status public."ProgressReportStatus" DEFAULT 'SUBMITTED'::public."ProgressReportStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "reviewedAt" timestamp(3) without time zone,
    "reviewedBy" text,
    "reviewNotes" text
);


ALTER TABLE public.progress_reports OWNER TO postgres;

--
-- Name: sponsorships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sponsorships (
    id text NOT NULL,
    "donorId" text NOT NULL,
    "studentId" text NOT NULL,
    amount integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "paymentFrequency" text,
    "stripePaymentIntentId" text,
    "stripeSubscriptionId" text,
    "amountOriginal" integer,
    "currencyOriginal" public."Currency",
    "amountBaseUSD" integer,
    "baseCurrency" public."Currency" DEFAULT 'USD'::public."Currency",
    "fxRateToUSD" double precision,
    "fxAsOf" timestamp(3) without time zone
);


ALTER TABLE public.sponsorships OWNER TO postgres;

--
-- Name: student_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_progress (
    id text NOT NULL,
    "studentId" text NOT NULL,
    term text NOT NULL,
    gpa double precision NOT NULL,
    "coursesCompleted" integer,
    "creditsEarned" integer,
    achievements text,
    challenges text,
    goals text,
    notes text,
    "updateType" text DEFAULT 'academic'::text NOT NULL,
    documents jsonb,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.student_progress OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    gender text NOT NULL,
    university text NOT NULL,
    field text NOT NULL,
    program text NOT NULL,
    gpa double precision NOT NULL,
    "gradYear" integer NOT NULL,
    city text,
    country text NOT NULL,
    province text,
    sponsored boolean DEFAULT false NOT NULL,
    "studentPhase" public."StudentPhase" DEFAULT 'APPLICATION'::public."StudentPhase",
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    cnic text,
    "dateOfBirth" timestamp(3) without time zone,
    "guardianName" text,
    "guardianCnic" text,
    phone text,
    address text,
    "currentInstitution" text,
    "currentCity" text,
    "currentCompletionYear" integer,
    "personalIntroduction" text,
    "academicAchievements" text,
    "careerGoals" text,
    "communityInvolvement" text,
    "currentAcademicYear" text,
    "familySize" integer,
    "monthlyFamilyIncome" text,
    "parentsOccupation" text,
    "specificField" text
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."UserRole" NOT NULL,
    "studentId" text,
    "donorId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: conversation_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversation_messages (id, "conversationId", "senderId", "senderRole", text, "createdAt", "readBy") FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, type, "participantIds", "studentId", "applicationId", "createdAt", "updatedAt", "lastMessageAt") FROM stdin;
\.


--
-- Data for Name: disbursements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.disbursements (id, "studentId", amount, date, status, notes, "amountOriginal", "currencyOriginal", "amountBaseUSD", "baseCurrency", "fxRateToUSD", "fxAsOf") FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: donors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.donors (id, name, email, organization, "totalFunded", "createdAt", "updatedAt", country, address, "currencyPreference", "taxId", phone) FROM stdin;
cmh8ymxpv00129eaerlrd4b17	Donor one	test+21@webciters.com	\N	0	2025-10-27 09:53:36.307	2025-10-27 09:53:36.307	Canada	\N	\N	\N	0012587412563
\.


--
-- Data for Name: field_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fx_rates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fx_rates (id, base, quote, rate, "asOf", source) FROM stdin;
\.


--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_resets (id, "userId", token, "expiresAt", used) FROM stdin;
\.


--
-- Data for Name: progress_report_attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progress_report_attachments (id, "progressReportId", filename, filepath, mimetype, size, "createdAt") FROM stdin;
\.


--
-- Data for Name: progress_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progress_reports (id, "studentId", title, content, status, "createdAt", "updatedAt", "reviewedAt", "reviewedBy", "reviewNotes") FROM stdin;
\.


--
-- Data for Name: sponsorships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sponsorships (id, "donorId", "studentId", amount, date, status, "paymentFrequency", "stripePaymentIntentId", "stripeSubscriptionId", "amountOriginal", "currencyOriginal", "amountBaseUSD", "baseCurrency", "fxRateToUSD", "fxAsOf") FROM stdin;
\.


--
-- Data for Name: student_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_progress (id, "studentId", term, gpa, "coursesCompleted", "creditsEarned", achievements, challenges, goals, notes, "updateType", documents, "submittedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: conversation_messages conversation_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT conversation_messages_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: disbursements disbursements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disbursements
    ADD CONSTRAINT disbursements_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: donors donors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donors
    ADD CONSTRAINT donors_pkey PRIMARY KEY (id);


--
-- Name: field_reviews field_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.field_reviews
    ADD CONSTRAINT field_reviews_pkey PRIMARY KEY (id);


--
-- Name: fx_rates fx_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fx_rates
    ADD CONSTRAINT fx_rates_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: progress_report_attachments progress_report_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_report_attachments
    ADD CONSTRAINT progress_report_attachments_pkey PRIMARY KEY (id);


--
-- Name: progress_reports progress_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_reports
    ADD CONSTRAINT progress_reports_pkey PRIMARY KEY (id);


--
-- Name: sponsorships sponsorships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorships
    ADD CONSTRAINT sponsorships_pkey PRIMARY KEY (id);


--
-- Name: student_progress student_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_progress
    ADD CONSTRAINT student_progress_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: conversation_messages_conversationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "conversation_messages_conversationId_idx" ON public.conversation_messages USING btree ("conversationId");


--
-- Name: conversation_messages_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "conversation_messages_senderId_idx" ON public.conversation_messages USING btree ("senderId");


--
-- Name: documents_applicationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "documents_applicationId_idx" ON public.documents USING btree ("applicationId");


--
-- Name: documents_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "documents_studentId_idx" ON public.documents USING btree ("studentId");


--
-- Name: donors_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX donors_email_key ON public.donors USING btree (email);


--
-- Name: field_reviews_applicationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "field_reviews_applicationId_idx" ON public.field_reviews USING btree ("applicationId");


--
-- Name: field_reviews_officerUserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "field_reviews_officerUserId_idx" ON public.field_reviews USING btree ("officerUserId");


--
-- Name: field_reviews_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "field_reviews_studentId_idx" ON public.field_reviews USING btree ("studentId");


--
-- Name: fx_rates_base_quote_asOf_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "fx_rates_base_quote_asOf_key" ON public.fx_rates USING btree (base, quote, "asOf");


--
-- Name: password_resets_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX password_resets_token_key ON public.password_resets USING btree (token);


--
-- Name: password_resets_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "password_resets_userId_idx" ON public.password_resets USING btree ("userId");


--
-- Name: student_progress_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "student_progress_studentId_idx" ON public.student_progress USING btree ("studentId");


--
-- Name: student_progress_submittedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "student_progress_submittedAt_idx" ON public.student_progress USING btree ("submittedAt");


--
-- Name: students_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX students_email_key ON public.students USING btree (email);


--
-- Name: users_donorId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_donorId_key" ON public.users USING btree ("donorId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_studentId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_studentId_key" ON public.users USING btree ("studentId");


--
-- Name: Message Message_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: applications applications_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT "applications_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversation_messages conversation_messages_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT "conversation_messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public.conversations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversation_messages conversation_messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_messages
    ADD CONSTRAINT "conversation_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: conversations conversations_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "conversations_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: conversations conversations_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "conversations_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: disbursements disbursements_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disbursements
    ADD CONSTRAINT "disbursements_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents documents_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "documents_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents documents_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "documents_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: field_reviews field_reviews_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.field_reviews
    ADD CONSTRAINT "field_reviews_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public.applications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: field_reviews field_reviews_officerUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.field_reviews
    ADD CONSTRAINT "field_reviews_officerUserId_fkey" FOREIGN KEY ("officerUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: field_reviews field_reviews_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.field_reviews
    ADD CONSTRAINT "field_reviews_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_resets password_resets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT "password_resets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: progress_report_attachments progress_report_attachments_progressReportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_report_attachments
    ADD CONSTRAINT "progress_report_attachments_progressReportId_fkey" FOREIGN KEY ("progressReportId") REFERENCES public.progress_reports(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: progress_reports progress_reports_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progress_reports
    ADD CONSTRAINT "progress_reports_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sponsorships sponsorships_donorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorships
    ADD CONSTRAINT "sponsorships_donorId_fkey" FOREIGN KEY ("donorId") REFERENCES public.donors(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sponsorships sponsorships_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorships
    ADD CONSTRAINT "sponsorships_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: student_progress student_progress_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_progress
    ADD CONSTRAINT "student_progress_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_donorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_donorId_fkey" FOREIGN KEY ("donorId") REFERENCES public.donors(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ZGdUCIs0P6fhFXapiTUlGmcRfEijK7GRMXKwkIfy136biCehKaa1qXogcFb4giV

